<?xml version="1.0"?>
{{ ansible_managed | comment('xml') }}
<yandex>
    <max_concurrent_queries replace="replace">2000</max_concurrent_queries>
    <max_connections replace="replace">4096</max_connections>
    <max_thread_pool_size replace="replace">12000</max_thread_pool_size>
</yandex>
